.navbar {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 40px;

  background-color: #222;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar a.active {
  border-bottom: 2px solid white;
}
